﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img  style="width: 300px;" src="~/pictures/01.jpeg">
    </div>

    <div class="item">
      <img  style="width: 300px;" src="~/pictures/02.jpg">
    </div>

    <div class="item">
      <img style="width: 300px;" src="~/pictures/03.jpg">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      
<div class="row">
    <h1>Your are in the Main Site</h1>
</div>


