@page
@model servicesModel


<ul class="collection">
    <!--@foreach(var mayor in (string[])ViewData["arrayObject"])
    {
        <li class="collection-item"><a asp-page="">@mayor</a></li>
    }--> 
    <li class="collection-item"><a asp-page="/SoftDep">Software Development</a></li>
    <li class="collection-item"><a asp-page="/Outsourcing">Outsourcing</a></li>
    <li class="collection-item"><a asp-page="/QualityAssurance">Quality Assurance</a></li>
</ul>